.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1682a9;
    color: white;
  }
  
  .navbar .logo img {
    height: 40px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  .logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }
  
  .logout-btn:hover {
    text-decoration: underline;
  }
  