<link href='carousel.component.css' rel='stylesheet'>
<div class="carousel-container">
    <div class="carousel-slide">
      <img src="assets/course1.jpg" alt="Курс 1" />
      <div class="carousel-caption">Курс 1: Введение в программирование</div>
    </div>
    <div class="carousel-slide">
      <img src="assets/course2.jpg" alt="Курс 2" />
      <div class="carousel-caption">Курс 2: Разработка веб-приложений</div>
    </div>
    <div class="carousel-slide">
      <img src="assets/course3.jpg" alt="Курс 3" />
      <div class="carousel-caption">Курс 3: Data Science и AI</div>
    </div>
  </div>
  