<link href='login.component.css' rel='stylesheet'>
<div class="form-container">
    <div class="form-div">
      <form (ngSubmit)="login()">
        <img src="/edu-connect/src/assets/LumicaLogo.jpeg" alt="Lumica" class="CourseLogo" />
  
        <input [(ngModel)]="email" name="email" class="input" placeholder="Phone number, username, or email" required />
        <input [(ngModel)]="password" name="password" class="input" placeholder="Password" type="password" required />
  
        <button class="login-btn" type="submit">Log in</button>
  
        <div *ngIf="errorMessage" class="error-msg">
          {{ errorMessage }}
        </div>
  
        <div class="or-divider">
          <span>OR</span>
        </div>
  
        <a href="#" class="forgot-password">Forgot password?</a>
      </form>
    </div>
  
    <div class="sign-up">
      <p>Don't have an account?
        <a routerLink="/register" class="sign-up-link">Sign up</a>
      </p>
    </div>
  </div>
  
