<link href='home.component.css' rel='stylesheet'>
<app-navbar></app-navbar>

<div class="home-container">
  <h1 class="title">Welcome to <span>Lumica Academy</span> 🎓</h1>
  <p class="subtitle">
    Платформа онлайн-обучения, где вы можете учиться, расти и добиваться успеха.
  </p>

  <div class="button-group">
    <a routerLink="/courses" class="btn">Courses</a>
    <a routerLink="/login" class="btn outline">Log in</a>
  </div>

  
  <app-carousel></app-carousel> 

</div>

<app-footer></app-footer> 
